<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
    <main>
        <h1>My products</h1>
        <p>List of all products</p><hr>
        <ul>
        <% if(products.length > 0) { %>
            <% products.forEach((product) => { %>
                <li><%= product.title %></li>
            <% }) %>   
        <% } else { %>
            <h1>No products</h1>
        <% } %>
        </ul>
    </main>
<%- include('includes/end.ejs') %>